@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

@layer base {
  html {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #050f2b;
    border-radius: 10px;
    background: #9baee1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #153477;
    border-radius: 10px;
  }
}

@layer utilities {
  .menu-before {
    top: 17px;
    width: 36px;
    transform: rotate(45deg);
  }

  .menu-after {
    bottom: 20px;
    width: 36px;
    transform: rotate(-45deg);
  }

  .menu {
    width: 0;
    height: 0;
  }
}
